<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534255011920-k2la41g9eglrpcb9oa2qmagvs0fb7f46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534255011920-k2la41g9eglrpcb9oa2qmagvs0fb7f46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534255011920-5fh6vkuvd0do3cpv6m8ooa0a8hi99m7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Y6GxetKFpuAAUWZFy1aHq6jo9g6rYHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>534255011920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendbase.ios</string>
	<key>PROJECT_ID</key>
	<string>friendbase--prod</string>
	<key>STORAGE_BUCKET</key>
	<string>friendbase--prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534255011920:ios:dcaea8f29c85901279e955</string>
</dict>
</plist>